<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Supered Dupered Challenge">
      <%= assigns[:page_title] || "INBOUND23" %>
    </.live_title>

    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <script type="text/javascript">
      function checkMinimumViewportSize() {
        const viewport = document.head.querySelector('meta[name="viewport"]')
        // Super weird glitch: iOS from 450-452 has an extra pixel on the width, and it isn't related to
        // the page itself. Glitch goes away with slightly varied width.
        const WIDTH = 453

        if (window.screen.width < WIDTH) {
          viewport.setAttribute('content', `width=${WIDTH}`)
        } else {
          viewport.setAttribute('content', 'width=device-width, initial-scale=1, shrink-to-fit=no')
        }
      }

      checkMinimumViewportSize()
      window.addEventListener('resize', checkMinimumViewportSize)
    </script>

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js">
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>

    <div id="qr-scanner" phx-hook="QRScanner" phx-update="ignore">
      <div class="transition-all translate-y-full z-50 fixed max-w-2xl mx-auto bottom-0 top-40 left-0 right-0">
        <div class="relative h-full bg-white mx-4 rounded-t-xl p-4 overflow-auto dropped-border !border-b-0">
          <div class="flex items-center mb-4">
            <h2 class="text-2xl font-bold flex-grow">Scan QR Code</h2>

            <button id="qr-scanner--cancel">
              <.icon name="hero-x-mark" class="h-10 w-10" />
            </button>
          </div>

          <div class="p-4">
            <div id="qr-scanner--reader" class="rounded-lg overflow-hidden"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="camera-upload" phx-hook="CameraUploader">
      <div class="transition-all translate-y-full z-50 fixed max-w-2xl mx-auto bottom-0 top-40 left-0 right-0">
        <div class="relative h-full bg-white mx-4 rounded-t-xl p-4 overflow-auto dropped-border !border-b-0">
          <div class="flex items-center mb-4">
            <h2 class="text-2xl font-bold flex-grow">Photo Upload</h2>

            <button id="camera-upload--cancel">
              <.icon name="hero-x-mark" class="h-10 w-10" />
            </button>
          </div>

          <div class="p-4">
            XYZ
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
