@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Italic';
}

@layer utilities {
  .dropped-border {
    @apply border-2 border-[#222];
    box-shadow: 3px 3px 0 0 #222;
  }

  .dropped-border-sm {
    @apply border border-[#222];
    box-shadow: 2px 2px 0 0 #222;
  }

  .dropped-border-white {
    @apply border-2 border-[white];
    box-shadow: 4px 4px 0 -1px white;
  }

  .dropped-border-cobalt-600 {
    @apply border-2 border-cobalt-600;
    box-shadow: 4px 4px 0 -1px theme('colors.cobalt.600');
  }
}

.splide__pagination {
  @apply relative bottom-4;
}

.splide__pagination__page.is-active {
  @apply bg-beanie-gold-600;
}

.splide__pagination__page {
  @apply bg-pink-100;
}

.splide__arrow {
  /* top-40 should align with the offset header size */
  @apply bg-cobalt-100 top-40 touch-manipulation;
}

.splide__arrow svg {
  @apply fill-cobalt-900;
}

.splide__arrow--prev {
  @apply left-0;
}

.splide__arrow--next {
  @apply right-0;
}

/*
 * Customizations for QR Scanner
 */

#html5-qrcode-anchor-scan-type-change {
  @apply mt-2 btn btn-muted btn-sm text-lg !no-underline;
}

#html5-qrcode-button-camera-permission {
  @apply btn btn-muted text-lg;
}

#qr-scanner--reader__scan_region img {
  @apply mx-auto;
}

#qr-scanner--reader__scan_region video {
  @apply px-8;
}

select#html5-qrcode-select-camera {
  @apply form-input w-[75%] mx-auto my-2;
}

select#html5-qrcode-select-camera:disabled {
  @apply hidden;
}

#qr-scanner--reader__dashboard_section_csr span:has(select#html5-qrcode-select-camera:disabled) {
  @apply hidden;
}

#html5-qrcode-button-camera-start {
  @apply btn btn-muted text-lg;
}

#html5-qrcode-button-camera-stop {
  @apply btn btn-muted text-lg;
}
