@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Italic';
}

@layer utilities {
  .dropped-border {
    @apply border-2 border-[#222];
    box-shadow: 3px 3px 0 0 #222;
  }

  .dropped-border-sm {
    @apply border border-[#222];
    box-shadow: 2px 2px 0 0 #222;
  }

  .dropped-border-white {
    @apply border-2 border-[white];
    box-shadow: 4px 4px 0 -1px white;
  }

  .dropped-border-cobalt-600 {
    @apply border-2 border-cobalt-600;
    box-shadow: 4px 4px 0 -1px theme('colors.cobalt.600');
  }

  /* Apply opacity changes to translations, as these classes are only used to keep modals off-screen */
  .translate-y-full {
    @apply opacity-0;
  }

  .translate-y-0 {
    @apply opacity-100;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center rounded-md border border-transparent px-4 py-2 text-sm font-medium shadow-sm;
    @apply focus:outline-none focus:ring-inset focus:ring-2 focus:ring-offset-2;
    @apply disabled:btn-disabled;
    @apply no-underline;
    @apply bg-gray-100 hover:bg-gray-200 focus:ring-gray-300;
    @apply touch-manipulation;
  }

  .btn-muted {
    @apply bg-white border border-gray-200;
  }

  .btn-primary {
    @apply bg-pink-600 text-white hover:text-white hover:bg-pink-700 focus:ring-pink-500;
  }

  .btn-cobalt-300 {
    @apply bg-cobalt-300 text-white hover:text-white hover:bg-cobalt-400 focus:ring-cobalt-300;
  }

  .btn-cobalt-700 {
    @apply bg-cobalt-700 text-white hover:text-white hover:bg-cobalt-800 focus:ring-cobalt-600;
  }

  .btn-disabled {
    @apply opacity-75 cursor-not-allowed shadow-none bg-gray-500 hover:bg-gray-500 focus:ring-0;
  }

  .btn-big {
    @apply px-6 py-4;
  }

  .btn-sm {
    @apply px-3 py-1;
  }

  .btn-xs {
    @apply px-3 py-[1px];
  }

  .btn-flat {
    @apply shadow-none;
  }

  .badge {
    @apply inline-flex flex-none items-center rounded bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800;
  }

  .badge-error {
    @apply bg-red-100 text-red-800;
  }

  .badge-warning {
    @apply bg-yellow-100 text-yellow-800;
  }

  .badge-info {
    @apply bg-cobalt-600 text-white;
  }
}

@layer components {
  .form-input {
    @apply block rounded-md bg-white border-gray-300 focus:border-pink-500 focus:ring-inset focus:ring-pink-500;
    @apply placeholder-gray-400 text-gray-700 sm:text-sm focus-within:text-gray-800;
    @apply disabled:bg-gray-50 disabled:text-gray-500 disabled:cursor-not-allowed;
  }

  select.form-input {
    @apply pr-8;
  }

  .form-checkbox {
    @apply h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500;
  }
}

.splide__pagination {
  @apply relative bottom-4;
}

.splide__pagination__page.is-active {
  @apply bg-beanie-gold-600;
}

.splide__pagination__page {
  @apply bg-pink-100;
}

.splide__arrow {
  /* top-40 should align with the offset header size */
  @apply bg-cobalt-100 top-40 touch-manipulation;
}

.splide__arrow svg {
  @apply fill-cobalt-900;
}

.splide__arrow--prev {
  @apply left-0;
}

.splide__arrow--next {
  @apply right-0;
}

/*
 * Customizations for QR Scanner
 */

#html5-qrcode-anchor-scan-type-change {
  @apply mt-2 btn btn-muted btn-sm text-lg !no-underline;
}

#html5-qrcode-button-camera-permission {
  @apply btn btn-muted text-lg;
}

#qr-scanner--reader__scan_region img {
  @apply mx-auto;
}

#qr-scanner--reader__scan_region video {
  @apply px-8;
}

select#html5-qrcode-select-camera {
  @apply form-input w-[75%] mx-auto my-2;
}

select#html5-qrcode-select-camera:disabled {
  @apply hidden;
}

#qr-scanner--reader__dashboard_section_csr span:has(select#html5-qrcode-select-camera:disabled) {
  @apply hidden;
}

#html5-qrcode-button-camera-start {
  @apply btn btn-muted text-lg;
}

#html5-qrcode-button-camera-stop {
  @apply btn btn-muted text-lg;
}
